<div class="container">
    <div class="row" style="margin-top: 1rem;">
        <h3 style="text-align: center;">Crear usuario</h3>

        <form (ngSubmit)="crearUsuario()" id="crear" enctype="multipart/form-data">

            <div class="row">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="usuario.nombres" [ngModelOptions]="{standalone:true}"
                        placeholder="Nombres" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="usuario.apellidos" [ngModelOptions]="{standalone:true}"
                        placeholder="Apellidos" class="form-control" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="usuario.documento" [ngModelOptions]="{standalone:true}"
                        placeholder="Documento" class="form-control" required>
                </div>
            </div>




            <br>
            <div class="row">
                <div class="col-md-12">
                    <input class="btn btn-primary" style="background-color:#008080 ;" type="submit" value="Crear usuario">
                </div>
            </div>
            <div><br></div>
        </form>



    </div>

</div>