<div>
    <div class="container-fluid">
      <div class="row" style="margin-top: 2rem;">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Id</th>


                <th></th>
    
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of ciudades">
                <td>{{user.nombre}}</td>
                <td>{{user.descripcion}}</td>
                <td>{{user.id}}</td>



    
    
              </tr>
    
    
            </tbody>
          </table>
  
        </div>
  
  
        
        
  
  
  
      </div>
  
    </div>
  </div>